body{
  margin: 0%;
font-family: 'Glory', sans-serif;
}
.t1{
  margin: 3%;
}

.p1{

}

.p1-1{
  background-color:#61C9A8;
  padding: 5% 0;
}






.p1-2-1{
  background-color: #A53860;
width: 50%;

}

.p1-2-2{background-color:#ADA8B6 ;
width: 50%;
}

.p1-2 {
  display: flex;
}

.p1-2-x { padding: 5% 0;}

.b1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 30px;
  margin-left: 3%; ;
}

@media only screen and (max-width: 600px) {
  .p1-2 {
    flex-direction: column;}
  .p1-2-x{width: 100%;}
}